@require 'modules/tab.styl'

body
  margin 0px
  font-size 12px

body {
  padding: 0px
  width 1280px
}

/*
 * first part : song
*/
header {
  font-family "SimHei", "Microsoft Yahei", "Arial"
  background #2189bf
  width 100%
  height 56px
  position relative
  .header-left {
    background-image url("../imgs/logo.png")
    width 36px
    height 36px
    margin-left 50px
    display inline-block
    margin-top 10px
    &:hover {
      cursor pointer
    }
  }
  .header-right {
    display inline-block
    height 30px
    width 378px
    position absolute
    right 93px
    margin-top 13px
    input {
      width 270px
      height 26px
      background: #fff url("../imgs/zoom.png") no-repeat 17px 6px;
      border-radius 20px
      line-height 30px
      padding-left 40px
      outline none
      //border
    }
    span {
      background: url("../imgs/login.png") no-repeat;
      padding-left 20px
      color white
      &:hover {
        cursor pointer
      }
    }
  }
}

.song-section {
  font-family "SimHei", "Microsoft Yahei", "Arial"
  width 100%
  height 1210px
  .left-menu {
    width 260px
    height 100%
    background #2a2e3d
    float left
  }
  .main {
    width 1020px
    height 100%
    background #eeeeed
    float left
    .main-header {
      height 30px
      background #fff
      padding-left 30px
      a {
        text-decoration none
        color #b5b5b5
        line-height 30px
        padding-right 10px
        &:last-child {
          color #729fc6
        }
      }
    }
    .main-body {
      width 890px
      margin 0 auto
      margin-top 20px
      .search-item {
        background white
        color #b0b0b0
        .si-1 {
          height 60px
          padding 10px 0 10px 30px
          display inline-block
          select {
            outline none
            margin-left 5px
          }
        }
      }
    }
  }
}

/*
 * second part here
*/
.history-search
  display flex
  height 65px
  margin-bottom 10px
  .hs-price
    display flex
    .price-info
      li
        display inline-block;
        width 80px;
        text-align center;
        cursor pointer;

.tab-flex
  display flex
  justify-content space-between
  flex-wrap wrap

section#project1-1
  ourtab(532px, 360px)

/*
 * third part here
*/

section#project1-2
  ourtab(352px, 360px)

section#cal
  ourtab(352px, 360px)

section#brand
  ourtab(532px, 360px)