
* {
  padding: 0;
  margin: 0
}

body {
  width: 100%;
  min-width: 1280px;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}

/* 第一部分css在这里 */
.newheader{
	height: 56px;
	line-height: 56px;
}
.newworld{
	float: left;
	font-size: 24px;
}

.newworld i {
  color: red;
  padding: 0 10px 0 60px;
}
.ul-items{
	float: right;
}
.items li{
	display: inline-block;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
.items li:first-child a{
	color: red;
	border-bottom: 3px solid red;
}
.items li a{
	display: inline-block;
	width: 100%;
	height: 53px;
	text-decoration: none;
	font-size: 16px;
	color: #aaa;
}
.items li a:hover{
	color: red;
	border-bottom: 3px solid red;
}
.login{
	float: right;
	padding:0 60px;
	color: red;
	font-size: 16px;
	cursor: pointer;
}

.time-of{
	width: 100%;
	height: 690px;
	background-image: url("imgs/life.jpg");
	background-size: 100% auto;
	background-repeat:no-repeat;
}
.newlife{
	position: relative;
	top: 30%;
	left: 10%;
}
.newlife h1{
	font: 60px "Microsoft YaHei", sans-serif;
	color: #fff;
	margin-bottom: 20px;
}
.newlife p{
	font: 22px '黑体';
	color: #fff;
	line-height: 28px;	
}

.newlife span{
	display: block;
	width: 320px;
	height: 64px;
	font: 32px '黑体';
	color: #fff;
	background-color: #E8504F;
	text-align: center;
	line-height: 64px;
	margin-top: 60px;
}
.four-flag{
	width: 100%;
	height: 250px;
}
.four-flag .aw_part{
	width: 24%;
	display: inline-block;
	text-align: center;
}
.four-flag .aw_part .img{
	height: 130px;
	position: relative;
	top: 50px;
}
.four-flag .aw_part .describe{
    width: 100%;
    height: 50px;
	font-size: 16px;
	color: #8c8c8c;
	border-right: 2px solid #ababab;
}
.four-flag .aw_part:last-child .describe{
	border: none;
}
.about-world{
	width: 100%;
	height: 360px;
	background-color: #ededed;
}
.about-world .describe{
	text-align: center;
	position: relative;
	top: 25%;
}
.about-world .describe i{
	font-size: 90px;
	color: red;
}
.about-world .describe p{
	font: 50px '黑体';
	color:  #a5a5a5;
	margin-top: 40px;
}

/* 第二部分css在这里 */
.s-new-world {
  height: 340px;
  /*display: flex;*/
  /*justify-content: center;*/
  /*margin: 0 auto;*/
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1)), url("imgs/worldmap.png");
  width: 100%;
}

.s-new-world h1 {
  padding: 55px 0 0;
  font-size: 22px;
  /*border-bottom: 2px solid #fff;*/
  /*width: 500px;*/

}

.s-new-world > span {
  width: 20px;
  display: inline-block;
  border-bottom: 2px solid #ffffff;
  transition: width 0.5s ease-in-out;

}

.s-new-world > h1:hover ~ span {
  width: 200px;
}

.s-new-world > p {
  padding: 30px 30px;
}

.s-new-world input {
  height: 36px;
  width: 240px;
  color: #b3b5b5;
  margin: 0 10px;

  font-size: 14px;
  position: relative;
  display: inline-block;

  top: 37px;
  z-index: 10;


  cursor: pointer;
}

.s-new-world input[type='radio']{
  opacity: 0;
}

.s-new-world .options .select {
  width: 240px;
  height: 36px;
  margin: 0 10px;

  font-size: 14px;
  line-height: 36px;
  text-align: left;
  color: #B3B3B3;

  display: inline-block;
  position: relative;

  /*box-sizing: border-box;*/
  border: 1px solid #C6B3AF;

  background: url(imgs/icon-7.png) no-repeat 210px 8px, #fff;
  -webkit-background-size: 20px;
  background-size: 20px;

  transition: all 0s;
}

.s-new-world input[type='radio']:nth-of-type(1):checked ~ .options .select.select1 {
  border: 2px solid #BE4F48;
  height: 108px;
}

.s-new-world input[type='radio']:nth-of-type(1):checked ~ .options .select.select1 .option {
  display: block;
}

.s-new-world input[type='radio']:nth-of-type(2):checked ~ .options .select.select2 .option {
  display: block;
}

.s-new-world input[type='radio']:nth-of-type(2):checked ~ .options .select.select2 {
  border: 2px solid #BE4F48;
  height: 108px;
}

.s-new-world input[type='radio']:nth-of-type(3):checked ~ .options .select.select3 .option {
  display: block;
}

.s-new-world input[type='radio']:nth-of-type(3):checked ~ .options .select.select3 {
  border: 2px solid #BE4F48;
  height: 108px;
}

.s-new-world .options .select:last-of-type {
  /*display: none;*/
  visibility: hidden;
}

.s-new-world .options .select span {
  margin-left: 10px;
  /*background-color: #fff;*/
}

.s-new-world .options .select .option {
  position: absolute;
  display: none;
  background: #E3E3E5;
  width: 240px;
  z-index: 5;
}

.s-new-world .options .select .option ul li {
  /*height: 32px;*/
  /*line-height: 32px;*/
  text-align: left;
  padding-left: 40px;
  list-style: none;
  cursor: pointer;

  /*transition: color 0.2s ease-in-out;*/
}

.s-new-world .options .select .option ul li:hover {
  color: #fff;
  background: url(imgs/icon-8.png) no-repeat 10px 8px,#BF4E48;;
  background-size: 20px;
}

.s-new-world input[type='submit'] {
  padding-left: 30px;
  letter-spacing: 30px;
  background-color: #be4e48;
  color: #fff;
  border: none;
  transition: background 0.4s ease-in-out;
  cursor: pointer;
}

.s-new-world .input input[type='submit']:hover {
  background-color: red;
}

.city-activity {
  height: 610px;
  width: 100%;
  background-color: #f7f7f7;
}

.city-activity .content {
  display: flex;
  justify-content: space-between;
  /*background: #75757F;*/
  padding: 100px 150px;
}

.city-activity .content .activity {
  width: 220px;
  height: 400px;
  text-align: center;
}

.city-activity .content .activity:hover {
  cursor: pointer;
}

.city-activity .content .activity.sp h3 {
  font-size: 24px;
  letter-spacing: 25px;
  /*text-align: center;*/
  padding: 0 0 0 20px;
}

.city-activity .content .activity.sp img {
  padding-top: 20px;
}

.city-activity .content .activity img {
  width: 200px;
  height: 310px;
  /*border: solid #fff;*/
  /*border-width: 15px 10px;*/
}

.city-activity .content .activity h3 {
  padding: 10px;
}

.city-activity .content .activity p {
  color: #938e8c;
}

.world-time {
  height: 570px;
  width: 100%;
}

.world-time .left {
  float: left;
  width: 66%;
  height: 100%;
  background: url('imgs/world-time.jpg');
  position: relative;
}

.world-time .left:after {
  content: '';
  border: 30px solid;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: 100%;
  margin-top: -60px;
  margin-left: -60px;
  /*top:50%;*/
}

.world-time .left .mes {
  color: #fff;
  text-align: center;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.world-time .left .mes p:nth-child(1) {
  font-size: 50px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0px;
}

.world-time .left .mes p:nth-child(2) {
  font-size: 150px;
  height: 150px;
  line-height: 150px;
}

.world-time .left .mes p {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
}

.world-time .right {
  float: left;
  width: 34%;
}

.world-time .right .wrapper {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 130px;
  text-align: center;
}

.world-time .right .wrapper .mes {
  display: none;
}

.world-time .right .wrapper .mes p:first-child {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.world-time .right .wrapper .mes p:first-child span {
  color: #BE4F48;
}

.world-time .right .wrapper .mes p:last-child {
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  color: #B3AFAC;
  margin-bottom: 60px;
  transition: color 0.4s ease-in-out;
}

.world-time .right .wrapper .mes p:last-child:hover {
  color: #000;
}

.world-time .right .wrapper input[type='radio'] {
  width: 10px;
  height: 10px;
  position: relative;
  top: 320px;
  z-index: 10;
  cursor: pointer;
  margin: 2px;
  opacity: 0;
}

.world-time .right .wrapper .list {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  top: 305px;
  z-index: 5;
  border-radius: 40%;
  border: 1px solid #5a5b5b;
  margin: 2px;
}

.world-time .right .wrapper input[type='radio']:nth-child(1):checked ~ .list:nth-of-type(1) {
  background-color: #5a5b5b;
}

.world-time .right .wrapper input[type='radio']:nth-child(2):checked ~ .list:nth-of-type(2) {
  background-color: #5a5b5b;
}

.world-time .right .wrapper input[type='radio']:nth-child(3):checked ~ .list:nth-of-type(3) {
  background-color: #5a5b5b;
}

.world-time .right .wrapper input[type='radio']:nth-child(1):checked ~ .mes.mes-1 {
  display: block;
}

.world-time .right .wrapper input[type='radio']:nth-child(2):checked ~ .mes.mes-2 {
  display: block;
}

.world-time .right .wrapper input[type='radio']:nth-child(3):checked ~ .mes.mes-3 {
  display: block;
}

.world-time .right .wrapper .button {
  border: 1px solid #BE4F48;
  width: 100px;
  height: 35px;
  font-size: 13px;
  display: inline-block;
  line-height: 35px;
  color: #BE4F48;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.world-time .right .wrapper .button:hover {
  background-color: #BE4F48;
  color: #fff;
  border-radius: 3px;
}

/* 第三个css在这里 */
.xinshidai {
  height: 521px;
  width: 100%;
}

.xsd-left {
  float: left;
  width: 33%;
  background: #e74f4d;
  height: 100%
}

.xsd-mid {
  float: left;
  width: 34%;
  height: 100%;
  position: relative;
}

.xsd-right {
  float: right;
  width: 33%;
  height: 100%;
  background-image: url("imgs/xsd-right.png");
}

.s-wenzi {
  font-family: '黑体';
  position: relative;
  top: 30%;
  text-align: center;
}

.s-wenzi p {
  line-height: 30px;
  font-size: 24px;
  color: white;
}

.s-wenzi span {
  display: inline-block;
  width: 50px;
  border-top: 2px solid white;
  webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.s-wenzi:hover span {
  width: 180px;
}

.xinshidai .button {
  margin-top: 30px;
}

.xsd-left .button p {
  display: inline;
  font-size: 25px;
  padding: 12px 30px;
  border: 1px solid white;
}

.xsd-left .button p:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.xsd-mid .s-wenzi p {
  color: black;
}

.xsd-mid .s-wenzi span {
  border-top: 2px solid black;
}

.xsd-mid .button p {
  display: inline;
  font-size: 25px;
  padding: 12px 30px;
  border: 1px solid #e74f4d;
}

.xsd-mid .button p:hover {
  background: #e74f4d;
  color: white;
  cursor: pointer;
}

.xsd-mid::after {
  content: '';
  position: absolute;
  border-width: 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  top: 240px;
  left: 100%;
}

.zhiyuanzhe {
  height: auto;
  text-align: center;
  margin-bottom: 100px;
}

.zyz-top {
  margin: 180px 0;
}

.zyz-top .s-wenzi p {
  color: black;
  font-size: 21px;
}

.zyz-top .s-wenzi span {
  border-top: 2px solid #e74f4d;
}

.zyz-top .small-p {
  margin-top: 12px;
}

.zyz-top .small-p p {
  font-size: 15px;
  color: #aaa;
  line-height: 18px;
}

.zyz-bottom {
  position: relative;
  height: 360px;
}

.zyz-left {
  width: 360px;
  height: 360px;
  text-align: left;
  position: absolute;
  left: 150px;
}

.zyz-left .s-mes {
  width: 350px;
  height: 130px;
  margin-top: 10px;
}

.zyz-left .s-mes h1 {
  font-size: 19px;
  color: #96908f;
  margin-bottom: 15px;
}

.zyz-left .s-mes p {
  color: #c2bfbe;
  font-size: 15px;
  line-height: 21px;
}

.zyz-left .s-mes span {
  float: right;
  cursor: pointer;
}

.zyz-right {
  position: absolute;
  left: 500px;
  width: 700px;
  height: 360px;
}

.zyz-right input[type="text"] {
  height: 40px;
  width: 300px;
  font-size: 14px;
  color: #a59e9c;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
  background-color: #E3E3E3;
  font-family: '宋体'
}

.zyz-right textarea {
  width: 620px;
  height: 160px;
  font-size: 14px;
  color: #a59e9c;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 0;
  outline: 0;
  background-color: #E3E3E3;
  resize: none;
  font-family: '宋体';
  text-indent: 11.5em;
}

.zyz-right input[type="submit"] {
  width: 620px;
  height: 40px;
  font-size: 14px;
  color: #a59e9c;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  border: 0;
  outline: 0;
  background-color: #E3E3E3;
  font-family: '宋体';
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.zyz-right input[type="submit"]:hover {
  border-radius: 5px;
  box-shadow: 1px 1px 1px #B3AFAC, -1px -1px 1px #B3AFAC;
}

.zyz-right span {
  font-size: 14px;
  color: #a59e9c;
  position: absolute;
  top: 140px;
  left: 40px;
}

footer {
  width: 100%;
  height: auto;
}

.footer-top {
  height: 300px;
  background: #32353e;
}

.footer-top .s-wenzi {
  top: 15%;
}

.footer-top .s-wenzi .small-p {
  margin-top: 20px;
}

.footer-top .s-wenzi .small-p p {
  font-size: 14px;
  line-height: 21px;
}

.footer-top .s-wenzi .s-email {
  display: inline-flex;
  margin-top: 27px;
}

.footer-top .s-wenzi .s-email input[type="email"] {
  width: 500px;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
  padding-left: 10px;
  color: #75757F;
}

.footer-top .s-wenzi .s-email input[type="submit"] {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 5px;
  border: 0;
  box-sizing: border-box;
  background-color: #75757F;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  -webkit-appearance: button;
  cursor: pointer;
  padding: 1px 6px;
}

.footer-top .s-wenzi .s-email input[type="submit"]:hover {
  background-color: #5E5E68;
}

.footer-top .s-wenzi .s-icon {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  position: relative;
  top: 10px;
}

.footer-top .s-wenzi .s-icon i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  -webkit-transition: font-size 0.4s ease-in-out;
  -moz-transition: font-size 0.4s ease-in-out;
  transition: font-size 0.4s ease-in-out;
}

.footer-top .s-wenzi .s-icon i:hover {
  font-size: 35px;
}

.footer-bottom {
  height: 40px;
  background: #303039;
  padding: 20px 40px 20px 60px;
}

.footer-bottom .fb-left {
  float: left;
  line-height: 40px;
  color: white;
}

.footer-bottom .fb-right {
  float: right;
  line-height: 40px;
  color: white;
}

.footer-bottom .fb-right a {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer-bottom .fb-right a:hover {
  color: #e4baba
}