ourtab(width, height)
  box-sizing border-box
  height height
  width width
  background #fff
  border-radius 5px
  border: 1px solid #ced1d4
  margin 10px 0

  h3
    height 41px
    width: 100%;
    border-bottom: 1px solid #e7e8eb
    background: #f4f5f6
    line-height: 40px
    padding: 0 0 0 20px
    margin 0px
    box-sizing: border-box
    color: #aaa
    font-size 12px

  .content
    margin 20px